#Del {
  font-family: 'Yellowtail', cursive;
}
header h2 {
  font-size: 2.3em;
  font-weight: 300;
  height: 40px;
  display: inline;

}
#title {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: x-small;
}
#fork {
  float: left;
  padding-top: 9px;
}
#tab {
  float: right;
}
